@font-face {
  font-family: "japanese";
  src: url(./fonts/go3v2.ttf);
}

:root {
  --phthalo-green: #203223;
  --kombu-green: #293d2b;
  --hunter-green: #415d43;
  --russian-green: #709775;
  --dark-sea-green: #8fb996;
  --tea-green: #c1ffc7;
  --reference: #551a8b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: default; */
}

body {
  font-family: "japanese", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-sea-green);
  background-image: url("./image/homes-forest.jpg");
  background-size: cover;
  background-position: center;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 50px;
  line-height: 55px;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--reference);
}

nav,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
footer {
  width: 100vw;
  text-align: center;
  color: var(--tea-green);
}

nav {
  height: 10vh;
  background-color: var(--phthalo-green);
}

main {
  width: 90vw;
  height: 80vh;
  gap: 6rem;
}

aside {
  position: relative;
  width: 240px;
  height: 100%;
  margin-block: auto;
  color: var(--tea-green);
  overflow-y: scroll;
}

aside::-webkit-scrollbar {
  width: 10px; 
  background-color: var(--hunter-green);

}

aside::-webkit-scrollbar-thumb {
  background-color: var(--phthalo-green);
  border-radius: 10px;
}

div {
  width: 100%;
}

input[type="color"] {
  width: 100px;
  height: 100px;
  transform: translateX(-10px) translateY(-10px);
}

span {
  z-index: 3;
}

button {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  padding-block: 15.5px; 
  border-radius: 5px;
  color: var(--tea-green);
  background-color: var(--phthalo-green);
}

button:hover {
  background-color: var(--kombu-green);
}

button:active {
  background-color: var(--dark-sea-green);
}

footer {
  height: 9vh;
  position: relative;
}

.aside-bkg {
  display: flex;
  height: 95%;
  width: 240px;
  padding: 1rem 0.5rem 1rem 1rem;
  border-radius: 1.5rem;
  background-color: var(--hunter-green);
}

.container-aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.5rem;
  gap: 1.5rem;
}

.container {
  display: grid;
  width: calc(16 * 1.75rem);
  height: calc(16 * 1.75rem);
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.small-square {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.border-top-left {
  border-top: solid 1px rgb(156, 156, 156);
  border-left: solid 1px rgb(156, 156, 156);
}

.pointer:hover {
  cursor: pointer;
}

.color-card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.color-box {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: stretch;
  z-index: 1;
}

.rainbow {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    -45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
}

.color {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  background-color: var(--phthalo-green);
  transition: width 0.5s ease;
  z-index: 0;
}

.color-active {
  width: 100%;
}

.option {
  position: absolute;
  width: 100%;
  height: 0px;
  border-radius: 60px;
  background-color: var(--phthalo-green);
  transition: height 0.5s ease;
  z-index: 0;
}

.option + span {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.option-active {
  height: 50px;
}

.grid-colums-rows > * {
  width: 100%;
  text-align: center;
  margin-block: 0.5rem;
}

.fa-github {
  fill: var(--tea-green);
  transition: transform 0.3s ease-in-out;
  margin-left: 0.5rem;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.info {
  width: 32px;
  border-radius: 50%;
  background-color: var(--tea-green);
  margin-left: 1rem;
}

.info:hover {
  transform: scale(1.2);
}

.reference {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 55px;
  right: 300px;
  width: 500px;
  height: 30px;
  background-color: var(--russian-green);
  border-radius: 5px;
  animation: opacity 0.5s ease;
}

.visibility {
  display: none;
}

.reference:hover {
  display: flex;
}


@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
